RewriteEngine On

# For GET requests to /api/get-product
RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^api/get-product$ index.php [NC,L]

# For GET requests to /api/get-cart
RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^api/get-cart$ index.php [NC,L]

# For POST requests to /api/update-product
RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^api/update-product$ index.php [NC,L]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^api/update-cart$ index.php [NC,L] 

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

